<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class="margin-0 animated fadeInDown">Dashboard</h2>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><i class="icon icon-graph"></i> Monthly Token Requests</h3>
                </div>
                <div class="panel-body">
                    <div line-chart line-data='[
                        { y: "2006", a: 74, b: 47 },
                        { y: "2007", a: 83,  b: 70 },
                        { y: "2008", a: 54,  b: 92 },
                        { y: "2009", a: 31,  b: 53 },
                        { y: "2010", a: 92,  b: 83 },
                        { y: "2011", a: 30,  b: 42 },
                        { y: "2012", a: 11, b: 6 }
                    ]' line-xkey='y' line-ykeys='["a", "b"]' line-labels='["Serie A", "Serie B"]' line-colors='["#31C0BE", "#c7254e"]'>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div ng-if="$root.user_data.account_type !== 'Admin'" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><i class="icon icon-clock"></i> Last 7 Token Requests</h3>
                </div>
                <div class="panel-body">
                    <table datatable="ng" class="table table-responsive table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>#Ref Nr</th>
                                <th>Meter Number</th>
                                <th>Mobile Number</th>
                                <th>Email Address</th>
                                <th>Amount <label class="text-muted bold">&#8358;</label></th>
                                <th>Trans. Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="transaction in dashboard.latest_transaction">
                                <td>{{ transaction.reference_number }}</td>
                                <td>{{ transaction.meter_number }}</td>
                                <td>{{ transaction.mobile_number }}</td>
                                <td>{{ transaction.email_address }}</td>
                                <td>{{ transaction.transaction_amount | number: 2 }}</td>
                                <td>{{ transaction.transaction_date | date: "d M, y" }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div ng-if="$root.user_data.account_type === 'Admin'" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><i class="icon icon-clock"></i> Daily Token Requests - {{ $root.current_date | date: "d M, y" }}</h3>
                </div>
                <div class="panel-body">
                    <table datatable="ng" class="table table-responsive table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>#Ref Nr</th>
                                <th>Meter Number</th>
                                <th>Mobile Number</th>
                                <th>Email Address</th>
                                <th>Amount ()</th>
                                <th>Trans. Date</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>