<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class="margin-0 animated fadeInDown">Dashboard</h2>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><i class="icon icon-graph"></i> Monthly Token Requests</h3>
                </div>
                <div class="panel-body">
                    Morris Graph Here
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div ng-if="$root.user_data.account_type !== 'Admin'" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><i class="icon icon-clock"></i> Last 7 Token Requests</h3>
                </div>
                <div class="panel-body">
                    <table datatable="ng" class="table table-responsive table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>#Ref Nr</th>
                                <th>Meter Number</th>
                                <th>Mobile Number</th>
                                <th>Email Address</th>
                                <th>Amount ()</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

        <div ng-if="$root.user_data.account_type === 'Admin'" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><i class="icon icon-clock"></i> Daily Token Requests - {{ $root.current_date | date: "d M, y" }}</h3>
                </div>
                <div class="panel-body">
                    <table datatable="ng" class="table table-responsive table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>#Ref Nr</th>
                                <th>Meter Number</th>
                                <th>Mobile Number</th>
                                <th>Email Address</th>
                                <th>Amount ()</th>
                                <th>Trans. Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="transaction in dashboard.latest_transaction">
                                <td>{{ transaction.reference_number }}</td>
                                <td>{{ transaction.meter_number }}</td>
                                <td>{{ transaction.mobile_number }}</td>
                                <td>{{ transaction.email_address }}</td>
                                <td>{{ transaction.transaction_amount | number: 2 }}</td>
                                <td>{{ transaction.transaction_date | date: "d M, y" }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>